body {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

h1 {
  font-family: "Arial";
  font-size: 30px;
  display: inline-block;
  animation: animate 2s linear forwards;
}

h2 {
  font-family: "Arial";
  font-size: 30px;
  display: inline-block;
  animation: animate 2s linear forwards;
}

h3 {
  font-family: "Arial";
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
}

.navbar {
  border-radius: 12px 12px;
  padding: 10px;
  text-decoration: inherit;
  position: fixed;
  left: 0px;
  width: 23%;
}

.side_column {
  float: left;
  width: 16%;
}

.column {
  float: left;
  margin-top: 4%;
  width: 33%;
}

.alt_side_column {
  float: left;
  width: 25%;
}

.alt_column {
  float: left;
  margin-top: 4%;
  width: 50%;
}

.namecard {
  background-color: rgb(30, 30, 30);
  border-radius: 12px 12px;
  text-decoration: inherit;
  position: fixed;
  padding: 10px;
  right: 0.5%;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.article_card {
  background-color: rgb(255, 120, 0);
  position: relative;
  display: inline-block;
}

.article {
  background-color: rgb(214, 140, 0);
  text-decoration: inherit;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 5px;
  border-radius: 8px 8px;
  color: rgb(255, 255, 255);
}

.article_card:hover .article {
  display: block;
}

.subject {
  background-color: rgb(0, 83, 184);
  text-decoration: inherit;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 8px 8px;
  color: rgb(255, 255, 255);
}

.project {
  background-color: rgb(0, 158, 76);
  text-decoration: inherit;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 8px 8px;
  color: rgb(255, 255, 255);
  transition-duration: 0.4s;
}

.project:hover {
  background-color: rgb(201, 0, 54);
}

.button {
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: inherit;
  border-radius: 12px 12px;
  text-align: center;
  align-self: center;
  position: static;

  font-family: "Arial";
  padding: 10px;
  font-size: 15px;
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  transition-duration: 0.4s;
}

.button:hover {
  background-color: rgb(60, 110, 145);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.resources {
  align-self: center;
  float: left;
  display: block;
  color: rgb(30, 30, 30);
  margin-right: 5px;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.resources:hover {
  background-color: rgb(255, 140, 0);
}

.container {
  width: 100%;
  height: 85vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slides {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: rgb(30, 30, 30);
  scroll-snap-align: start;
}

.scroll {
  background: rgb(255, 255, 255);
  animation: animate 2s linear forwards;
}

.scroll::before {
  animation: bounce 1s ease infinite;
  bottom: 2rem;
  color: rgb(30, 30, 30);
  content: '↓';
  font-size: 2rem;
  height: 65%;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 6rem;
}

@keyframes bounce {
  50% {
    transform: translateY(-5%);
  }
}

@keyframes animate { 
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@media (max-width: 700px) {
  .column {
    width: 100%;
  }
  
  .alt_column {
    top: 5%;
    width: 100%;
  }
  .navbar {
    bottom: 0.5%;
  }
}
